.git*            export-ignore

*.sh             crlf=input
config.*         crlf=input
configure        crlf=input
configure.in     crlf=input
fixproto         crlf=input
gccbug.in        crlf=input
genmultilib      crlf=input
install-sh       crlf=input
ltconfig         crlf=input
missing          crlf=input
mkdep            crlf=input
mkheaders.in     crlf=input
mkinstalldirs    crlf=input
mklibgcc.in      crlf=input
move-if-change   crlf=input
sort-protos      crlf=input
symlink-tree     crlf=input
ylwrap           crlf=input
